@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Montserrat', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: white;
}